@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Load Tailwind v4 */
@import 'tailwindcss';

html, body {
  max-width: 100%;
  overflow-x: hidden;
}



/* Now everything else */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-geist-sans: 'Plus Jakarta Sans', sans-serif;
  --font-geist-mono: monospace;
}

@layer base {
  button,
  input,
  textarea,
  select {
    @apply text-inherit;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
